<!--The content below is only a placeholder and can be replaced.-->
<div class="page-header title">
  <h1 class="title-h1">Kichink Export</h1>
  <div>
    <img class="title-logo" src="assets/img/header_kichink.png"/>    
  </div>
  <h1 class="title-h2">
    Con esta sencilla herramienta, puedes exportar tus Productos de Kichink a un Archivo CSV, ya sea que quieras un respaldo, migrar tus productos a otras Tiendas en Linea o Subir tu Catalogo de Productos a Facebook y poder promocionarlos.</h1>
</div>
<div class="container">
  <div class="row">
      <hr/>
  </div>
  <div class="row">
    <h4>Exportar Productos</h4>
  </div>
  <div class="row">
      <div *ngIf=objLoaderStatus style="position:absolute; z-index:0; width: 100%;">
          <div style="vertical-align:middle; text-align:center; width: 100%;">
              <img src="assets/img/Spinner.svg" alt="">
          </div>
        
      </div>
    <form [formGroup]="exportForm" (ngSubmit)="export()" novalidate>
          <div class="form-group">
            <label for="exampleInputEmail1">Kichink Store ID (Ejemplo: 80722)</label>
            <input type="number" class="form-control" id="store_id" aria-describedby="storeIdHelp" formControlName="store_id" required placeholder="Kichink Store ID">
            <small id="storeIdHelp" class="form-text text-muted">No guardaremos tu Store ID ni ningún producto en nuestro servidor. Todo el procesamiento es llevado acabo de tu Navegador.</small>
            <br/>
            <br/>
            <img src="assets/img/example.png" alt="">
            <br/>
            <hr/>
            
          </div>
         
          <p>Exporta tu producto como:
          <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                CSV para Excel, Numbers y otros programas de hoja de calculo. (Campos optimizados para Catalogo de Productos de Facebook <a href="https://www.facebook.com/business/help/1397294963910848" target="_blank">más información..</a>).
              </label>
            </div>
            
            
          <button type="submit" [disabled]="exportForm.pristine||objLoaderStatus" class="btn btn-success">
              
            Exportar Productos</button>


          
    </form>
    
          
        
  </div>
  <div class="row">
      <br/>
    <hr/>
  </div>
</div>
