
  
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #5F298C;
    color: white;
  }
  .title-h1 {
    font-weight: 300;
    font-size: 3rem;
    margin: 1rem;
  }
  .title-logo {
    height: 8rem;
    
    border-radius: 1rem;
    margin: 1rem;
  }
  .title-h2 {
    font-weight: 300;
    font-size: 2rem;
    margin: .5rem;
  }